<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Car app</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-raised-button color="primary">Add Car</button>
</mat-toolbar>
<app-resume></app-resume>
<!-- <app-car></app-car>
<ul>
  <li *ngFor="let car of cars">
    <app-car [item]="car"></app-car>
  </li>
</ul>
<app-input-car (outCar)="addCar($event)"></app-input-car> -->
<!-- <app-image></app-image> -->