<!-- <div class="car">
  <h3>{{ Title }}</h3>

  <ul>
    <li *ngFor="let car of Cars; let i = index">ID: {{ i + 1 }}.{{ car }}</li>
  </ul>
</div> -->
<!-- <h2>Pipes</h2>
<div>
  <ul>
    <li>{{ manufacture | mycustompipe }}</li>
    <li>{{ manufacture | lowercase }}</li>
    <li>{{ manufacture | titlecase }}</li>
    <li>{{ manufacture | slice : 0 : 7 }}</li>
    <li>{{ jsonObject | json }}</li>
    <li>{{ price | currency : "EUR" }}</li>
    <li>{{ discount | percent }}</li>
    <li>{{ discount | number }}</li>
  </ul>
</div> -->
{{car.model}}