<app-header></app-header>
<app-pictures-list></app-pictures-list>
<!-- <app-the-biggest-item></app-the-biggest-item> -->
<!--
<router-outlet></router-outlet>
<div *ngIf="cars.length > 0; else emptyBlock">
  <div *ngFor="let car of cars">
    <app-car [item]="car"></app-car>
  </div>
</div>
<ng-template #emptyBlock><h3 appZoom>List is empty</h3></ng-template> -->
<!-- <app-resume></app-resume> -->
<!-- 
<app-input-car (outCar)="addCar($event)"></app-input-car>

<app-hooks [timer]="timer"></app-hooks> -->
