<p>
  <mat-toolbar
    ><button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon></button>
      <span>My App</span><span class="example-spacer"></span>

      <div class="example-button-row">
        <button mat-raised-button routerLink="home">Home</button>
        <button mat-raised-button routerLink="list-cars">List cars</button>
        <button mat-raised-button (click)="addCar()">Add car</button>
        <button mat-raised-button routerLink="about">About</button>
      </div>
  </mat-toolbar>
</p>
