<h2>Angular has been started</h2>
<h3>Bill Gates</h3>
<ul>
  <li><q>Patience is a key element of success</q></li>
  <li><q>If you think your teacher is tough, wait till you get a boss</q></li>
  <li><q>Life is not fair — get used to it!</q></li>
  <li>
    <q
      >Success is a lousy teacher. It seduces smart people into thinking they
      can't lose</q
    >
  </li>
  <li><q>Be nice to nerds. Chances are you'll end up working for one</q></li>
</ul>

<h4>Biography</h4>
<p>
  About Bill Career highlights: Microsoft, Bill & Melinda Gates Foundation 1955—
  Born Seattle, WA.1973 Entered Harvard University. 1967 Enrolled at Lakeside
  School. First used computer. 1968 Began programming with Paul Allen in the
  computer center. Bill Gates is a technologist, business leader, and
  philanthropist. He grew up in Seattle, Washington, with an amazing and
  supportive family who encouraged his interest in computers at an early age. He
  dropped out of college to start Microsoft with his childhood friend Paul
  Allen. Today, Bill co-chairs the Bill & Melinda Gates Foundation with Melinda
  French Gates, where he works to give his wealth back to society. Bill grew up
  in Seattle with his two sisters. His late father, William H. Gates Sr., was a
  Seattle attorney and one of the co-chairs of the Bill & Melinda Gates
  Foundation. His late mother, Mary Gates, was a schoolteacher, University of
  Washington regent, and chairwoman of United Way International. Bill has three
  children.
</p>
<img
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Bill_Gates_2017_%28cropped%29.jpg/1024px-Bill_Gates_2017_%28cropped%29.jpg"
/>

<h4>References</h4>
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Bill_Gates">Wikipedia</a></li>
    <li><a href="https://www.gatesfoundation.org/">Gates Foundation</a></li>
    <li><a href="https://www.gatesnotes.com/">Gates Notes</a></li>
    <li><a href="https://twitter.com/billgates">Twitter</a></li>
</ul>
