h1{
    text-align: center;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-movie-search{
    display: flex;
    flex-direction: column;
    width: 200px;
}

app-movie-details{
    width: 400px;
}