<form [formGroup]="carForm" (ngSubmit)="addCar()">
  <div mat-dialog-title>{{ data ? "Update" : "Add" }} Car</div>

  <div mat-dialog-content>
    <div class="row">
      <mat-form-field>
        <mat-label>Model</mat-label>

        <input
          type="text"
          matInput
          placeholder="mazda"
          formControlName="model"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Number</mat-label>
        <input
          type="text"
          matInput
          placeholder="BH3456"
          formControlName="number"
        />
      </mat-form-field>

      <br />
    </div>

    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Color</mat-label>
        <mat-select formControlName="color">
          <mat-option
            *ngFor="let color of availableColors"
            value="{{ color }}"
            >{{ color }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of availableTypes" value="{{ type }}">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <mat-label>V_Engine</mat-label>
        <input
          type="text"
          matInput
          placeholder="vEngine"
          formControlName="vEngine"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input
          type="number"
          matInput
          placeholder="2020"
          formControlName="year"
          min="1970"
          max="2023"
        />
      </mat-form-field>
    </div>
    <mat-label>Is New?</mat-label>
    <mat-radio-group formControlName="isNew">
      <mat-radio-button value="true" 
      [checked]="data ? data.isNew : true">
        Yes
      </mat-radio-button>
      <mat-radio-button value="false" 
      [checked]="data ? !data.isNew : false">
        No
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Save</button>

    <button
      mat-raised-button
      color="warn"
      type="button"
      (click)="closeDialog()"
    >
      Cancel
    </button>
  </div>
</form>
