@import url(roboto.css);
@import "~normalize-css";
body {
  background-color: burlywood;
  font-family: "Roboto", sans-serif;
}

.image {
  width: 300px;
  height: 250px;
  margin: 10px auto;
  border: 2px solid black;
}

img {
  width: 300px;
  height: 250px;
}
