$border: 2px solid black;

.wrap2 {
  width: 50vw;
  height: 50px;
  border: $border;
  margin: 10px auto;
  h2 {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: red;
  }
}